<div class="text-center">
<h1>GO-FISH!</h1>
<hr>
<h2>Objective</h2>
To collect as many "books" as possible. A book is four cards of the same rank. The player with the most books at the end of the game wins.
<br>
<hr>
<h2 class="btn btn-primary">Start a New Game</h2>
</div>